*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.container{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: auto;
    margin: 0.5rem;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.time-prep h3{
    margin: 10px;
}
img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}
.time-prep{
    background-color: rgba(212, 184, 197, 0.313);
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    overflow: auto;
    padding: 10px;
}
.time-prep h3, .time-prep li::marker{
    color: rgb(148, 60, 106);
}

hr{
    width: 100%;
    margin: 0 auto;
}


ul, ol{
    padding-left: 25px;
    text-decoration-color: brown;
    padding-bottom: 20px;

}
li {
    padding: 5px;
}
span{
    font-weight: bolder;
}

.table{
    border-collapse: collapse;
    width: 100%;
    font-size: large;
    letter-spacing: 1px;
    margin-bottom: 20px;
    border-spacing: 0 10px;
}
.table tr{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

h2,li::marker,
table tr td:nth-child(2){
    color: rgb(189, 93, 93);
}

tr, td {
    padding: 5px;
    padding-left: 20px;
}